
*{
	background-color:black;
	margin:0px;
}
.row{
	border:1px solid blue;
	height:200px;
}

.row1{
	border: 1px solid blue;
	background-color:#0E0E15;
	height:28px;
}
.row2{
	height:72px;
	border:1px solid blue;
}
.col{
	width:72px;
	border:1px solid red;
	padding:80px;
	float:left;
}
.logo{
	width:72px;
	height:72px;
	margin:0px 16px 0px 80px;
}
.hub{
	margin:1px 0px 19px 1px;
}
.watch{
	float:right;
	margin-top:30px;
}
.add{
	float:right;
	margin:30px;
}
.f_row1{
	height:40px;
	border:1px solid blue;
}
.f_row2{
	height:40px;
	border:1px solid blue;
}
.f_row3{
	height:32px;
	border:1px solid blue;
}

.f_row4{
	height:28px;
	border:1px solid blue;
}
